@font-face {
    font-family: Azeret Mono;
    src: url(/assets/fonts/Azeret_Mono/Azeret_Mono.ttf);
}

* {
    font-family: Azeret Mono;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 32px;
}

.timer-face {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    margin: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.digits {
    font-family: Azeret Mono;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    position: relative;
    margin-top: 12px;
}

.preset-name {
    font-size: 2rem;
    font-weight: 200;
}

.digits, .preset-name {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ring {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* TODO: organize this cmon */
path {
    stroke-linecap: butt;
    stroke: white;
    fill: none;
}

.ring-background {
    fill: none;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 12px;
}

.progress-dot {
    width: 8px;
    height: 8px;
}

.feather {
    stroke-width: 1.5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.control-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-left: 12px;
}

.control-button {
    cursor: pointer;
    transition: stroke .1s;
}

.control-button:hover {
    transform: scale(1.1, 1.1);
    transition: transform .1s;
}

.control-button.large {
    width: 40px;
    height: 40px;
}

.control-button.small {
    width: 32px;
    height: 32px;
}