@font-face {
    font-family: Azeret Mono;
    src: url(/src/assets/fonts/Azeret_Mono/Azeret_Mono.ttf);
}

* {
    font-family: Azeret Mono;
    color: white;
}

body {
    background-color: brown;
}

.timer-panel {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    margin: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.digits {
    font-family: Azeret Mono;
    font-weight: 500;
    font-size: 72px;
    text-align: center;
    position: relative;
}

.presetName {
    font-size: 32px;
    font-weight: 400;
}

.ring {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

path {
    stroke-linecap: round;
    stroke: white;
    fill: none;
}

.ring-background {
    fill: none;
    stroke: darkred;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.progress-dot-container {
    width: 12px;
    height: 12px;
}

.progress-dot[data-filled="true"] {
    fill: white;
}

.progress-dot[data-filled="false"] {
    fill: blue;
}